body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}

#auction-form {
    flex: 1 0 100%;
    max-width: 480px;
    width: 100%;
    padding: 60px;
}

#auction-form p {
    margin-bottom: 30px;
}

#auction-form p.form-title {
    color: #333333;
    font-family: "Josefin Sans", sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
}

#auction-form .ant-form-item-label>label.ant-form-item-required::before {
    display: none;
}

.ant-form-item-control-input-content {
    text-align: left;
}

#auction-form .ant-input-affix-wrapper {
    padding: 12px 15px;
}

#auction-form_itemName,
#auction-form_description,
#auction-form_image,
#auction-form_bidStart,
#auction-form_bidEnd,
#auction-form_startingBid {
    height: 48px;
}

#auction-form .ant-btn {
    height: 42px;
    letter-spacing: 1px;
    border-radius: 6px;
}

.auction-form-button {
    width: 100%;
}

.illustration-wrapper {
    display: flex;
    align-items: flex-end;
    max-width: 800px;
    min-height: 100%;
    background-color: #fffdf2;
}

.illustration-wrapper img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .auction-box {
        flex-direction: column;
        box-shadow: none;
    }
    .illustration-wrapper {
        max-width: 100%;
        min-height: auto;
    }
    #auction-form {
        max-width: 100%;
    }
}