@import "~antd/dist/antd.css";

  
body {
    background-size: auto;
    background: rgb(207,207,162);
    background: linear-gradient(8deg, rgba(207,207,162,1) 47%, rgba(109,180,231,1) 68%);
     background-attachment: fixed;
    background-size: cover;
    height: 100%;
    /* filter: blur(4px); */

}
