@import "~antd/dist/antd.css";

  
body {
    background-size: auto;
    background: rgb(187,181,81);
    background: linear-gradient(351deg, rgba(187,181,81,0.9909546582304797) 50%, rgba(122,194,156,1) 50%);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    /* filter: blur(4px); */

}
