.bid-image{
    max-width: 500px;
    min-width: 500px;
    max-height: 400px;
    min-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.634),
    0 6px 20px 0 rgba(166, 103, 103, 0.424);
}
.auction-bid{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.634),
    0 6px 20px 0 rgba(166, 103, 103, 0.424);
    overflow: hidden;
    margin: 0 auto;
    border-radius: 12px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    border-width: 2.5px;
    background: rgb(131,172,181);
    background: linear-gradient(238deg, rgba(131,172,181,1) 47%, rgb(94, 146, 168) 47%);
}
.bid{
        flex: 1 0 100%;
        max-width: 480px;
        width: 100%;
        padding: 20px;
   
    
}
.Scroll {
    display: block;
    border: 0px solid red;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    background-color: bisque;
border-radius: 5px;
border-width: 4px;
border-style: groove;
border-color: blanchedalmond;
height: 200px;
width: 100%;
padding: 20px;
margin:0 auto;
margin-top: 10px;

}

