
    .s2 {
        font-size: 16px;
        margin-top: 4em;
    }
    .s2__mob-pic {
        margin-bottom: 4em;
    }
    
    .s2__des h1 {
        font-size: 2.6em;
        font-weight: 100;
        letter-spacing: 2.5px;
    }
    .s2__des .bold{
        font-weight: 700;
    }
    .s2__des p {
        font-weight: 100;
        font-size: .95em;
        line-height: 1.8;
    }
    .s2__des ul {
        font-weight: 100;
        font-size: .9em;
        letter-spacing: 1.5px;
        list-style: none;
        padding: 0;
    }
     .s2__list > li {
        padding: .5rem 0;
        font-size: medium;
        
        font-weight: 500;
    
    }
    .s2__list i {
        margin-right: 1em;
    }