.Card1 {
  box-shadow: 0 4px 8px 0 rgba(9, 10, 10, 0.634),
    0 6px 20px 0 rgba(166, 103, 103, 0.424);
  background-color: rgb(86, 176, 95);
  border-style: dotted;
  border-width: 1.5px;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
}
.Card2 {
  box-shadow: 0 4px 8px 0 rgba(9, 10, 10, 0.634),
    0 6px 20px 0 rgba(166, 103, 103, 0.424);
  background-color: rgb(188, 101, 113);
  border-width: 1.5px;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
}
.Card3 {
  box-shadow: 0 4px 8px 0 rgba(9, 10, 10, 0.634),
    0 6px 20px 0 rgba(166, 103, 103, 0.424);
  background-color: rgb(170, 183, 74);
  border-width: 1.5px;
  border-color: black;

  border-radius: 10px;
  padding: 10px;
}
.Card4 {
  box-shadow: 0 4px 8px 0 rgba(9, 10, 10, 0.634),
    0 6px 20px 0 rgba(166, 103, 103, 0.424);
  background-color: rgb(107, 86, 176);
  border-width: 1.5px;
  border-color: black;

  border-radius: 10px;
  padding: 10px;
}
.Card5 {
  box-shadow: 0 4px 8px 0 rgba(9, 10, 10, 0.634),
    0 6px 20px 0 rgba(166, 103, 103, 0.424);
  background-color: rgb(41, 199, 186);
  border-width: 1.5px;
  border-color: black;

  border-radius: 10px;
  padding: 10px;
}
