.Card1{
    
  box-shadow: 0 4px 8px 0 rgba(9, 10, 10, 0.634), 0 6px 20px 0 rgba(166, 103, 103, 0.424);
  background-color: rgb(86, 176, 95);
}
.Card2{
    
    box-shadow: 0 4px 8px 0 rgba(9, 10, 10, 0.634), 0 6px 20px 0 rgba(166, 103, 103, 0.424);
    background-color: rgb(188, 101, 113);
  }
  .Card3{
    
    box-shadow: 0 4px 8px 0 rgba(9, 10, 10, 0.634), 0 6px 20px 0 rgba(166, 103, 103, 0.424);
    background-color: rgb(170, 183, 74);
  }
  .Card4{
    
    box-shadow: 0 4px 8px 0 rgba(9, 10, 10, 0.634), 0 6px 20px 0 rgba(166, 103, 103, 0.424);
    background-color: rgb(107, 86, 176);
  }