.navbar {
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
  border-bottom-width: 1.5px;
  border-bottom-color: darkgray;
  border-bottom-style: solid;
  box-shadow: 0 4px 8px 0 rgba(9, 10, 10, 0.634), 0 6px 20px 0 rgba(166, 103, 103, 0.424);
  background-color: rgb(39, 206, 186);
  background-size: auto;
}

.brand {
  font-weight: 600;
  font-size: larger;
  font-family: cursive;
  padding-right: 2rem;
  


}

h {
  color: rgb(0, 0, 0);

}