body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}

#contact-form {
    flex: 1 0 100%;
    max-width: 480px;
    width: 100%;
    padding: 60px;
    
}

#contact-form p {
    margin-bottom: 30px;
    height: 20px;
}

#contact-form p.form-title {
    color: #333333;
    font-family: "Josefin Sans", sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
}

#contact-form .ant-form-item-label>label.ant-form-item-required::before {
    display: none;
}

.ant-form-item-control-input-content {
    text-align: left;
    
}

#contact-form .ant-input-affix-wrapper {
    padding: 12px 15px;
}

#contact-form_fullName,
#contact-form_email,
#contact-form_message {
    height: 48px;
}

#contact-form .ant-btn {
    height: 42px;
    letter-spacing: 1px;
    border-radius: 6px;
}

.contact-form-button {
    width: 100%;
}

.illustration-wrapper {
    display: flex;
    align-items: flex-end;
    width: 800px;
    background-color: #40bacc;
}

.illustration-wrapper img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .contact-box {
        flex-direction: column;
        box-shadow: none;
    }
    .illustration-wrapper {
        max-width: 100%;
        min-height: auto;
    }
    #contact-form {
        max-width: 100%;
    }
}
.contact{
    background-color: #318390;
    background-size:cover;
    box-shadow: rgba(red, green, blue, alpha) 0px 0px 40px;
    background-image: url('../../media/contactus.png');
}